table.border {
    border-collapse: collapse;
    border: 1px solid #cccccc;
    margin: 2px;
}

    table.border th, table.border td {
        border: 1px solid #cccccc;
    }

input, button, select {
    border: 1px solid #cccccc;
    margin: 2px;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #cccccc;
        background-color: #1f1f1f;
    }

    a:link {
        color: #2e83e6;
    }

    a:visited {
        color: #8861b4;
    }

    table.border {
        border-collapse: collapse;
        border: 1px solid #6a6a6a;
        margin: 2px;
    }

        table.border th, table.border td {
            border: 1px solid #6a6a6a;
        }

    input, button, select {
        color: #cccccc;
        background-color: #303030;
        border: 1px solid #505050;
        margin: 2px;
    }
}
